mixin footer()
	.footer
		.footer__links
			.footer__
				+footerLinks('SERVICES',["Web Design","Mobile App Design","User Experience Audits","Product Pages",])
			.footer__
				+footerLinks('USEFUL',["Knowledge Base","Help Center","Contact Support","Ask us a Question",])
			.footer__
				+footerLinks('LEGAL',["Terms of Use","Licensing","Privacy Policy","Cookies Policy",])
			.footer__
				+footerLinks('SOCIAL',["Google Plus","YouTube","Instagram","Facebook",])
		.footer__copyright © 2017 by Ragnarok. All rights reserved.
