mixin someCard()
	.someCard
		.someCard__link Menu
		.someCard__title Dropdown
		.someCard__desc A Dropdown Menu system, with inline icons, multiple columns and more.
		.someCard__button
			+button('Layout')
