mixin lightSlider()
	.lightSlider
		.lightSlider__.lightSlider__navigate
			.lightSlider__navigateTop Arrow top
			ul.lightSlider__navigateList.LSNavigateList
				li.LSNavigateList__
					a(href="#").LSNavigateList__link .
				li.LSNavigateList__
					a(href="#").LSNavigateList__link .
				li.LSNavigateList__
					a(href="#").LSNavigateList__link .
				li.LSNavigateList__
					a(href="#").LSNavigateList__link .
				li.LSNavigateList__
					a(href="#").LSNavigateList__link .
			.lightSlider__navigateBottom Arrow bottom
		.lightSlider__.lightSlider__content
			.lightSlider__contentBox
				h3.lightSlider__header Easy to Use
				.lightSlider__desc Configure page layouts in seconds.
				.lightSlider__button
					+button('Click me!')

