mixin portfolioImage(src)
	.portfolioImage
		a(href="#").portfolioImage__link
			img(src=src).portfolioImage__image

mixin portfolioImages()
	.portfolioImages
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
		.portfolioImages__
			+portfolioImage("https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/portfolio/footer/img-08.jpg")
