mixin portfolioProject()
	.portfolioProject
		img(alt="#" src="#").portfolioProject__image
		a(href="#").portfolioProject__title Project 1
		p.portfolioProject__desc Cuaqum ante augue. Nullam dignissim, felis eu imperdiet feugiat, libero ipsum gravida arcu.
		.portfolioProject__more Read More


mixin portfolioProjects()
	.portfolioProjects
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
		.portfolioProjects__
			+portfolioProject()
