mixin infolistANDtestimonial()
	.infolistANDtestimonial
		.infolistANDtestimonial__.infolistANDtestimonial__infolist
			+infolist()
		.infolistANDtestimonial__.infolistANDtestimonial__testimonial
			+testimonial()
