mixin coreFeatures()
	.coreFeatures
		h2.coreFeatures__title Gantry 5 Core Features
		.coreFeatures__items
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
			.coreFeatures__item
				+someArticle('SCSS LESS Support','#','Dynamic compilation of multiple CSS preprocessors is supported in Gantry 5')
