mixin subscribe()
	.subscribe
		.subscribe__subscribeBox
			input(type="email" placeholder="Your email address...").subscribe__field
			button(type="button").subscribe__submit Subscribe
				span.subscribe__submitIcon =>
				
		.subscribe__desc Don’t worry, we hate spam as much as you do. You can unsubscribe anytime.
