mixin testimonial()
	.testimonial
		.testimonial__
			+testimonialSingular()
		.testimonial__
			+testimonialSingular()
		.testimonial__
			+testimonialSingular()
		.testimonial__
			+testimonialSingular()
