mixin aboutUs()
	.aboutUs
		.whoBlock
			h2.whoBlock__title This is who we are
			.whoBlock__list
				.whoBlock__
					+who()
				.whoBlock__
					+who()
				.whoBlock__
					+who()
		.whatBlock
			h2.whatBlock__title This is what we do
			.whatBlock__list
				.whatBlock__
					+what()
				.whatBlock__
					+what()
				.whatBlock__
					+what()
	
