mixin who()
	.who
		img(src="#", alt="#").who__image
		h3.who__title Ragnarok
			span.who__subtitle JS
		.who__desc


mixin what()
	.what
		img(src="#", alt="#").what__image
		h3.what__title Ragnarok


mixin aboutUs()
	.aboutUs
		.whoBlock
			h2.whoBlock__title This is who we are
			.whoBlock__list
				.whoBlock__
					+who()
				.whoBlock__
					+who()
				.whoBlock__
					+who()
		.whatBlock
			h2.whatBlock__title This is what we do
			.whatBlock__list
				.whatBlock__
					+what()
				.whatBlock__
					+what()
				.whatBlock__
					+what()
	
