include ./_button/_button
include ./_footer/_footer
include ./_header/_header
include ./_logo/_logo
include ./_menu/_menu
include ./_social/_social
include ./_searchBar/_searchBar
include ./_slider/_slider
include ./_projects/_projects
include ./_footerLinks/_footerLinks
include ./_footer/_footer
include ./_subscribe/_subscribe
include ./_testimonial/_testimonialSingular/_testimonialSingular
include ./_testimonial/_testimonial
include ./_infolist/_infolist
include ./_infolist&testimonial/_infolist&testimonial
include ./_lightSlider/_lightSlider
include ./_pricing/_pricing
include ./_sectionHead/_sectionHead
include ./_someCards/_someCard/_someCard
include ./_someCards/_someCards
include ./_pageHeader/_pageHeader
