include ./_footer/_footer
include ./_header/_header
include ./_logo/_logo
include ./_menu/_menu
include ./_social/_social
include ./_searchBar/_searchBar
include ./_slider/_slider
include ./_projects/_projects
