mixin portfolioBlock()
	.portfolioBlock
		.portfolioBlock__icon X
		.portfolioBlock__title Web Development
		.portfolioBlock__desc Create beautiful content areas on your site without ever touching a text editor.



mixin portfolioInfolist()
	.portfolioInfolist
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
		.portfolioInfolist__
			+portfolioBlock()
