
.sectionHead
	background-color: #333
	display: flex
	flex-flow: row nowrap
	&_reverse
		flex-flow: row-reverse
.sectionHead__
.sectionHead__left
	flex-shrink: 0
.sectionHead__center
	flex-grow: 1
	display: flex
	flex-flow: column nowrap
.sectionHead__right

.header
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	background-color: #fff
	padding: 1em 0
.header__
	flex-shrink: 0
.header__logo
.header__menu
.header__searchBar

.slider__place
	flex-grow: 1
