mixin sectionHead()
	.sectionHead
		.sectionHead__.sectionHead__left
			//- +social()
		.sectionHead__.sectionHead__center
			header.header
				.header__.header__logo
					+logo()
				.header__.header__menu
					+menu()
				.header__.header__searchBar
					+searchBar()
			.slider__place
				+slider()
		.sectionHead__.sectionHead__right
			+social()
