mixin social()
	.social__wrapper
		ul.social
			li.social__
				a.social__link(href="#")
					span.social__icon X
			li.social__
				a.social__link(href="#")
					span.social__icon X
			li.social__
				a.social__link(href="#")
					span.social__icon X
			li.social__
				a.social__link(href="#")
					span.social__icon X
			li.social__
				a.social__link(href="#")
					span.social__icon X
