mixin testimonialSingular()
	.testimonialSingular
		.testimonialSingular__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum doloribus dolores eos. Possimus pariatur, ipsam, commodi repudiandae debitis enim? Totam porro magni qui, placeat, dicta delectus necessitatibus mollitia. Voluptatibus nemo, possimus dolor aliquid? Ipsum deleniti labore corporis nam! Numquam vel id perferendis fuga. Quas ipsam iure iste itaque, asperiores voluptatum mollitia ipsa impedit error, vero reprehenderit aut, doloribus ratione animi aliquid eveniet neque fugiat, ullam eius laboriosam accusamus dicta deserunt.
		.testimonialSingular__author
			.author__.author__avatar x
			.author__.author__groupBox
				.author__name Brian "Head" Welch
				.author__desc Korn
