extends ./_html
block title
	title Fluent
block body
	.wrapper
		.wrapper__wrap.section
			section.section__.section__head
				+sectionHead()
					+slider()
			section.section__.section__projects
				+projects()
			section.section__.section__infolistANDtestimonial
				+infolistANDtestimonial()
			section.section__.section__lightSlider
				+lightSlider()
			section.section__.section__pricing
				+pricing()
			section.section__.section__subscribe
				+subscribe()
			footer.section__.section__footer
				+footer()
