mixin timer()
	.timer
		.timer__.timer__day
			.timer__number 111
			.timer__title Days
		.timer__.timer__hour
			.timer__number 222
			.timer__title Hours
		.timer__.timer__minute
			.timer__number 333
			.timer__title Minutes
		.timer__.timer__second
			.timer__number 444
			.timer__title Seconds
