mixin blogContent()
	.blogContent
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
