mixin blogArticle()
	article.blogArticle
		a(href="").blogArticle__link Responsive Template
		img(src="#", alt="#").blogArticle__image
		.blogArticle__descGeneral Fluent is built with a responsive layout, which means it automatically adapts to the viewing device.
		.blogArticle__desc Fluent will expand and contract accordingly to the size and resolution of the screen, whether mobile, tablet or desktop.



mixin blogContent()
	.blogContent
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
		.blogContent__
			+blogArticle()
