mixin menu()
	ul.menu
		li.menu__
			a.menu__link(href="pages/about_us.html") About
		li.menu__
			a.menu__link(href="pages/404.html") 404
		li.menu__
			a.menu__link(href="pages/pricing.html") price
		li.menu__
			a.menu__link(href="pages/features.html") features
		li.menu__
			a.menu__link(href="pages/blog.html") blog
		li.menu__
			a.menu__link(href="pages/article.html") article
		li.menu__
			a.menu__link(href="pages/contacts.html") contacts
		li.menu__
			a.menu__link(href="pages/portfolio.html") portfolio
		li.menu__
			a.menu__link(href="pages/particles.html") particles
