mixin article()
	.article
		.article__title Create Content Particles
		.article__info Published: 23 February 2016  Written by Jakub Baran  No comments  Categories: Blog
		img(src="https://rocketthemedemo-18af.kxcdn.com/live/wordpress/fluent/wp-content/uploads/rocketlauncher/pages/blog/img-05.jpg").article__image
		.article__text Particles operate as customizable blocks that form the flesh of the frontend.
			br
			| Fluent features Vertical Slider, Carousel and Panel Slider particles.

