mixin infolist()
	.infolist
		h2.infolist__header Fluent is a Clean Design with Modern, Transparent Elements
		.infolist__desc Fluent is built from the ground up on the robust Gantry 5 framework. It features an abundance of new particles that make creating a gorgeous, responsive website a breeze.
		.infolist__smallBoxes
			each val in [1, 2, 3, 4]
				.infolist__small.infolistSmall
					.infolistSmall__header
						span.infolistSmall__headerIcon X
						| Super Simple
					.infolistSmall__desc Gantry 5 makes configuring elements of your website as easy as filling out a form. Particles are created with human-readable YAML and Twig.
