mixin someCards()
	.someCards
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
		.someCards__
			+someCard()
