mixin pricing()
	.pricing
		h3.pricing__header Pricing Table Particle
		p.pricing__desc Create tiered pricing tables in minutes.
		.pricing__plans
			.pricing__plan.pricingPlan
				a(href="#").pricingPlan__name Professional
				.pricingPlan__price $999
				.pricingPlan__list
					.pricingPlan__listItem 1 Initial Design
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Revisions
					.pricingPlan__listItem 5GB Server
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Email accounts
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Custom domain
				+button('Select this plan')

			.pricing__plan.pricingPlan.pricingPlan_scale
				a(href="#").pricingPlan__name Professional
				.pricingPlan__price $999
				.pricingPlan__list
					.pricingPlan__listItem 1 Initial Design
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Revisions
					.pricingPlan__listItem 5GB Server
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Email accounts
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Custom domain
				+button('Select this plan')

			.pricing__plan.pricingPlan
				a(href="#").pricingPlan__name Professional
				.pricingPlan__price $999
				.pricingPlan__list
					.pricingPlan__listItem 1 Initial Design
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Revisions
					.pricingPlan__listItem 5GB Server
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Email accounts
					.pricingPlan__listItem.pricingPlan__listItem_linethrough Custom domain
				+button('Select this plan')

