extends ../_html
block title
	title Coming Soon
block menu
	+menu("../","./")
block body
	.wrapper
		.wrapper__wrap.section
			section.section__.section__head
				+sectionHead()
					+pageHeader('Contacts', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, veniam.')
			section.section__.section__timer
				+timer()
			footer.section__.section__footer
				+copyright()
