extends ../_html
block title
	title Particles
block menu
	+menu("../","./")
block body
	.wrapper
		.wrapper__wrap.section
			section.section__.section__head
				+sectionHead()
					+pageHeader('Particles', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, veniam.')
			section.section__.section__particles
			footer.section__.section__footer
				+copyright()
